<app-header />
<main>
  <ul id="users">
    <!-- <li>
      <app-user
        [id]="users[0].id"
        [avatar]="users[0].avatar"
        [name]="users[0].name"
        (select)="onSelectUser($event)"
      />
    </li> -->

    <!-- <li>
      <app-user
        [user]="users[0]"
        (select)="onSelectUser($event)"
      />
    </li> -->

    @for (user of users; track user.id){
    <li>
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>
  <ng-container *ngIf="selectedUser; else fallback">
    <app-tasks
      [userId]="selectedUser.id"
      [name]="selectedUser.name"
    ></app-tasks>
  </ng-container>

  <ng-template #fallback>
    <p id="fallback">Select a user to see their Tasks!</p>
  </ng-template>
</main>
